<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../../static/css/font.css">
<link rel="stylesheet" href="../../static/css/weadmin.css">
<link rel="stylesheet" href="../static/lib/layui/css/layui.css">
<body>
<div><span style="font-size: 1.875rem; margin-left: 3.125rem;"><b>模板详细信息</b></span></div>
<br>
<br>
<div class="weadmin-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 we-search">

            <div style="margin-left: 5rem;">
                <span><b>模板名称：</b></span>
                <div class="layui-inline" >
                    <input class="layui-input" placeholder="模板名称" name="start" id="start">
                </div>
            </div><br>
            <div style="margin-left: 6.75rem;">
                <span><b>类型：</b></span>
                <div class="layui-inline" >
                    <input class="layui-input" placeholder="类型" name="start" id="start">
                </div>
            </div>
            <br>
            <div style="margin-left: 3.125rem;">
                <span><b>是否记入日志：</b></span>
                <div class="layui-input-inline" >
                    <select name="cateid">
                        <option>请选择类型</option>
                        <option>文章</option>
                        <option>会员</option>
                        <option>权限</option>
                    </select>
                </div>
            </div>
            <br>
            <div style="margin-left:5.625rem ;width: 1000px;">
                <span><b>控制项：</b></span>
                <div class="layui-inline" >
                    <div class="layui-input-inline">
                        <select name="contrller">
                            <option>请选择</option>
                            <option>已支付</option>
                            <option>未支付</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="contrller">
                            <option>请选择</option>
                            <option>支付宝</option>
                            <option>微信</option>
                            <option>货到付款</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="contrller">
                            <option>请选择</option>
                            <option>支付宝</option>
                            <option>微信</option>
                            <option>货到付款</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="contrller">
                            <option>请选择</option>
                            <option>支付宝</option>
                            <option>微信</option>
                            <option>货到付款</option>
                        </select>
                    </div>
                    <div>
                        <div class="layui-input-inline">
                            <select name="contrller">
                                <option>请选择</option>
                                <option>支付宝</option>
                                <option>微信</option>
                                <option>货到付款</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="contrller">
                                <option>请选择</option>
                                <option>支付宝</option>
                                <option>微信</option>
                                <option>货到付款</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div><br>
            <div style="margin-left:5.625rem ;width: 500px;">
                <span><b>电价码：</b></span>
                <div class="layui-inline" >
                    <input class="layui-input" placeholder="电价码" name="end" id="end">
                </div>
            </div><br>
            <div style="margin-left:5.625rem ;width: 500px;">
                <span><b>电版本：</b></span>
                <div class="layui-inline" >
                    <input type="text" name="keyword" placeholder="电版本" autocomplete="off" class="layui-input">
                </div>
            </div><br>
            <div style="margin-left: 5rem;">
                <span><b>任务类型：</b></span>
                <div class="layui-inline" >
                    <select name="cateid">
                        <option>请选择类型</option>
                        <option>文章</option>
                        <option>会员</option>
                        <option>权限</option>
                    </select>
                </div>
            </div><br>
            <div style="margin-left: 5rem;">
                <span><b>操作权限：</b></span>
                <div class="layui-inline" >
                    <input type="checkbox" name="like[write]" title="类参数">
                    <input type="checkbox" name="like[read]" title="II类参数" checked>
                    <input type="checkbox" name="like[dai]" title="第1套费率">
                    <input type="checkbox" name="like[write]" title="第2套费率">
                    <input type="checkbox" name="like[read]" title="充值" >
                    <input type="checkbox" name="like[dai]" title="控制">
                    <input type="checkbox" name="like[write]" title="红外私钥">
                </div>
            </div><br>
            <div style="margin-left: 3.125rem;">
                <span><b>数据处理类型：</b></span>
                <div class="layui-input-inline" >
                    <select name="cateid">
                        <option>请选择类型</option>
                        <option>文章</option>
                        <option>会员</option>
                        <option>权限</option>
                    </select>
                </div>
            </div>
            <br>
            <div style="margin-left: 6.75rem;">
                <span><b>备注：</b></span>
                <div class="layui-input-inline" style="width: 37.5rem;">
                    <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <br>
            <div style="margin-left: 6.75rem;">
                <span><b>描述：</b></span>
                <div class="layui-input-inline" style="width: 37.5rem;">
                    <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <br>
            <br>
            <div style="margin-left: 43.75rem;">
                <button class="layui-btn" lay-submit="" lay-filter="sreach">提交</button>
                <button class="layui-btn" lay-submit="" lay-filter="sreach">导出下表</button>
                <button class="layui-btn" lay-submit="" lay-filter="sreach">更改详情</button>
                <button class="layui-btn" lay-submit="" lay-filter="sreach">返回</button>
            </div>
        </form>
        <table class="layui-table" id="memberList" >
            <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>性别</th>
                <th>手机</th>
                <th>邮箱</th>
                <th>地址</th>
                <th>加入时间</th>
            </tr>
            </thead>
            <tbody>
            <tr data-id="1">
                <td>1</td>
                <td>小张</td>
                <td>男</td>
                <td>17600000000</td>
                <td>admin@mail.com</td>
                <td>北京市 海淀区</td>
                <td>2017-01-01 11:11:42</td>
            </tr>
            <tr data-id="2">
                <td>2</td>
                <td>小明</td>
                <td>女</td>
                <td>13000000000</td>
                <td>admin@mail.com</td>
                <td>北京市 海淀区</td>
                <td>2017-01-01 11:11:42</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="../../lib/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });


    });
</script>
</html>