<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>国家电网管理系统</title>
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<link rel="stylesheet" href="../../static/css/font.css" />
		<link rel="stylesheet" href="../../static/css/weadmin.css" />
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
		  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
		  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="weadmin-nav">
			<span class="layui-breadcrumb">
				<a href="javascript:;">首页</a> <a href="javascript:;">任务详细统计</a>
				<a href="javascript:;"> <cite></cite></a>
			</span>
			<a class="layui-btn layui-btn-sm" style="margin-top:3px;float:right" href="javascript:location.replace(location.href);"
			 title="刷新">
				<i class="layui-icon layui-icon-refresh"></i>
				<!-- <i class="layui-icon" style="line-height:30px">&#x1002;</i> -->
			</a>
		</div>

		<div class="weadmin-body">
			<div class="layui-row" style="margin-left: 6.25rem;">
				<form class="layui-form layui-col-md12 we-search">
					<div class="layui-inline" style="margin-left: 1.5625rem">
						<label class="layui-form-label">任务名称:</label>
						<div class="layui-input-inline">
							<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入查询的任务名称" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">操作账号:</label>
						<div class="layui-input-inline">
							<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入查询的操作员账号" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">任务类型:</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="">
								<option value="1">--请选择任务类型--</option>
								<option value="1">充值</option>
							</select>
						</div>
						<button class="layui-btn" lay-submit="" lay-filter="sreach">
							<i class="layui-icon layui-icon-search"></i>
						</button>
					</div>
				</form>
				</div>
			</div>
			
   <div class="layui-main" style="margin-left: 0.625rem;"><table class="layui-hide" id="test" lay-filter="test"></table></div>
		</div>
		<!--<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
		<script src="../../lib/layui/layui.js" charset="utf-8"></script>
		<script src="../../static/js/TTask.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
